# EDA - Final Project NLP

In [2]:
import pandas as pd

## 1. EDA Full Dataset

In [4]:
#Load the data
reviews = pd.read_csv('glassdoor_reviews.csv')
reviews.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons
0,AFH-Wealth-Management,2015-04-05,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,3.0,3.0,x,o,r,"Young colleagues, poor micro management",Very friendly and welcoming to new staff. Easy...,"Poor salaries, poor training and communication."
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very..."
3,AFH-Wealth-Management,2016-04-16,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,2.0,3.0,x,o,r,Over promised under delivered,Nice staff to work with,No career progression and salary is poor
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr..."

In [5]:
# 1. Dataset Overview
print("Dataset Shape (rows, columns):", reviews.shape)
print("\nColumns and Data Types:")
print(reviews.dtypes)

Dataset Shape (rows, columns): (838566, 18)

Columns and Data Types:
firm                    object
date_review             object
job_title               object
current                 object
location                object
overall_rating           int64
work_life_balance      float64
culture_values         float64
diversity_inclusion    float64
career_opp             float64
comp_benefits          float64
senior_mgmt            float64
recommend               object
ceo_approv              object
outlook                 object
headline                object
pros                    object
cons                    object
dtype: object

In [ ]:
# 2. Ensuring that date_review column is in datetime format
reviews['date_review'] = pd.to_datetime(reviews['date_review'], errors='coerce')

In [ ]:
# 3. Descriptive Statistics for Numeric Columns
print("\nDescriptive Statistics for Numeric Columns:")
print(reviews.describe())

Descriptive Statistics for Numeric Columns:
                         date_review  overall_rating  work_life_balance  \
count                         838566   838566.000000      688672.000000
mean   2018-01-30 15:03:19.703779584        3.655956           3.375735
min              2008-01-31 00:00:00        1.000000           1.000000
25%              2016-04-01 00:00:00        3.000000           2.000000
50%              2018-08-22 00:00:00        4.000000           4.000000
75%              2020-09-12 00:00:00        5.000000           4.000000
max              2021-06-08 00:00:00        5.000000           5.000000
std                              NaN        1.174684           1.305874

       culture_values  diversity_inclusion     career_opp  comp_benefits  \
count   647193.000000        136066.000000  691065.000000  688484.000000
mean         3.590164             3.966612       3.461825       3.398109
min          1.000000             1.000000       1.000000       1.000000
25%          3.000000             3.000000       3.000000       3.000000
50%          4.000000             4.000000       4.000000       3.000000
75%          5.000000             5.000000       5.000000       4.000000
max          5.000000             5.000000       5.000000       5.000000
std          1.323280             1.190937       1.271295       1.218738

         senior_mgmt
count  682690.000000
mean        3.176576
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
std         1.330720

In [8]:
# 4. Descriptive Statistics for Non-Numeric Columns
print("\nDescriptive Statistics for Non-Numeric Columns:")
print(reviews.describe(include='object'))

Descriptive Statistics for Non-Numeric Columns:
          firm            job_title           current  \
count   838566               838566            838566
unique     428                62275                29
top        IBM   Anonymous Employee  Current Employee
freq     60436               162649            209599

                        location recommend ceo_approv outlook headline  \
count                     541223    838566     838566  838566   835976
unique                     14486         3          4       4   390454
top     London, England, England         v          o       v     Good
freq                       58665    427865     311433  301413    14300

                             pros                      cons
count                      838564                    838553
unique                     778559                    777133
top     Great company to work for  None that I can think of
freq                          720                      1156

In [9]:
# 5. Missing Values Analysis
missing_values = reviews.isnull().sum()
print("\nMissing Values per Column:")
print(missing_values)

Missing Values per Column:
firm                        0
date_review                 0
job_title                   0
current                     0
location               297343
overall_rating              0
work_life_balance      149894
culture_values         191373
diversity_inclusion    702500
career_opp             147501
comp_benefits          150082
senior_mgmt            155876
recommend                   0
ceo_approv                  0
outlook                     0
headline                 2590
pros                        2
cons                       13
dtype: int64

In [10]:
# Calculate percentage of missing values per column for further insight
total_entries = len(reviews)
missing_percentage = (missing_values / total_entries) * 100
print("\nPercentage of Missing Values per Column:")
print(missing_percentage)

Percentage of Missing Values per Column:
firm                    0.000000
date_review             0.000000
job_title               0.000000
current                 0.000000
location               35.458509
overall_rating          0.000000
work_life_balance      17.875039
culture_values         22.821459
diversity_inclusion    83.773967
career_opp             17.589671
comp_benefits          17.897458
senior_mgmt            18.588400
recommend               0.000000
ceo_approv              0.000000
outlook                 0.000000
headline                0.308861
pros                    0.000239
cons                    0.001550
dtype: float64

We might want to leave diversity_inclusion out of the analysis.

In [13]:
# 6. Duplicate Check
duplicates = reviews.duplicated().sum()
print("\nNumber of Duplicate Rows in the Dataset:", duplicates)

Number of Duplicate Rows in the Dataset: 33515

In [23]:
# Display all duplicated rows in the 'reviews' DataFrame
duplicated_rows = reviews[reviews.duplicated(keep=False)]
print("\nNumber of Duplicate Rows in the Dataset:", duplicated_rows.shape[0])

Number of Duplicate Rows in the Dataset: 67015

In [ ]:
# Assuming 'pros', 'cons' and 'date_review' are the key columns for a unique review
duplicate_reviews = reviews[reviews.duplicated(subset=['pros','cons', 'date_review'], keep=False)]
print("\nNumber of Duplicate Rows in the Dataset:", duplicate_reviews.shape[0])

Number of Duplicate Rows in the Dataset: 69866

## 2. EDA Filtered Dataset

Filtered for location contains 'England' and date_review is between 2015 and 2025.

In [6]:
#Filter for reviews where location contains "England" 
england_reviews = reviews[reviews['location'].str.contains('England', na=False)]
#Check the first few rows of the filtered DataFrame
england_reviews.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very..."
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr..."
6,AFH-Wealth-Management,2016-09-23,IFA,Former Employee,"Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,r,It horrible management,Good investment management strategy. Overall t...,The management and seniors are ruthless. No tr...
13,AFH-Wealth-Management,2017-05-21,Administrative Support,"Former Employee, more than 5 years","Birmingham, England, England",1,4.0,1.0,NaN,2.0,4.0,1.0,o,v,v,Administration team,Free parking . Meet some nice people in the te...,Not treated at all well after 6 yrs of being a...

In [7]:
# Filter for reviews between the years 2015 and 2025 (inclusive)
england_reviews = england_reviews[(england_reviews['date_review'] >= '2015-01-01') & (england_reviews['date_review'] <= '2025-12-31')]
#Check the first few rows of the filtered DataFrame
england_reviews.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very..."
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr..."
6,AFH-Wealth-Management,2016-09-23,IFA,Former Employee,"Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,r,It horrible management,Good investment management strategy. Overall t...,The management and seniors are ruthless. No tr...
13,AFH-Wealth-Management,2017-05-21,Administrative Support,"Former Employee, more than 5 years","Birmingham, England, England",1,4.0,1.0,NaN,2.0,4.0,1.0,o,v,v,Administration team,Free parking . Meet some nice people in the te...,Not treated at all well after 6 yrs of being a...

In [8]:
# Count how many reviews meet both criteria
count_reviews = england_reviews.shape[0]
# Print the count
print(f"Number of reviews from England between 2015 and 2025: {count_reviews}")

Number of reviews from England between 2015 and 2025: 127619

In [9]:
# Analyze missing values in the filtered dataset
missing_values = england_reviews.isnull().sum()
# Print the missing values
print("Missing values in the filtered dataset:")
print(missing_values)

Missing values in the filtered dataset:
firm                       0
date_review                0
job_title                  0
current                    0
location                   0
overall_rating             0
work_life_balance      18646
culture_values         18904
diversity_inclusion    96260
career_opp             18361
comp_benefits          18848
senior_mgmt            19278
recommend                  0
ceo_approv                 0
outlook                    0
headline                 382
pros                       1
cons                       3
dtype: int64

Here we might need to decide if we exclude other columns that are not pros and cons (work_life_balance, culture_values, diversity_inclusion, etc) or merge them together as one big review and drop the missing values.